.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.grid {
    height: 400px;
    width: 200px;
    background: rgb(204, 233, 245);
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetramino {
    background: blue;
    position: relative;
    border-radius: 5px;
}

.tetramino:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    border: 2px solid skyblue;
  }